.GridConstraint{
    position:relative;
    left:0px;
    top:0px;
    right: 250px;
   width:80vw;
   height: 100vw;

}

.GridContainer{
    overflow: scroll;
}


.ClickableColumn {
    color: darkblue;
}

.SidePanel {
    position: absolute;
    top: 60px;
    width: 250px;
    right:0px;
    height: 100%;
    border-left: 1px solid darkgrey;
    padding: 4px;
}

.fluent-dialog-body {
    height: 100% !important;
}

.fluent-dialog-footer-normal {
    height: 0px !important;
    display: none !important;
}
