
/* Used by the operations table for selection */
.selected {
    background-color: #1E88E5 !important;
}

.selected > td {
    color: white !important;
}

    .selected > td .mud-input {
        color: white !important;
    }

.SpanBlock {
}

.TimelineBlock {
    width: stretch;
}

.TimelineMiddle {
    display: block;
    border: 1px solid #999999;
    border-radius: 2px;
    overflow: hidden;
    margin: 2px 0px;
    position: relative;
}


.TimelineOffsetText {
    display: inline-block;
    font-size: smaller;
    padding: 1px 4px;
}

.TimelineTitle {
    display: block;
    position: absolute;
    left: 50px;
    top: 1px;
    right: 50px;
    overflow: hidden;
    text-align: center;
}

.TimelineDurationText {
    display: block;
    font-size: smaller;
    position: absolute;
    top: 1px;
    right: 4px;
}

.TimelineEvent {
    display: block;
    position: absolute;
    margin-left: -8px;
    width: 10px;
    height: 10px;
    font-family: 'Segoe UI Symbol';
    font-size: 12px;
    top: 12px;
}


