.OperationBlock {
    display: block;
    border: 1px solid darkgrey;
    margin: 4px 400px 0px 300px;
}

.OperationsList {
    display: block;
    position: fixed;
    left: 260px;
    top: 80px;
    width: 300px;
}

.OpertionsListTitle {
}

.OperationsListItems {
    border: 1px solid darkgray;
    padding: 2px;
}

.OperationsListBlock {
    padding: 4px;
    border-radius: 2px;
}

.OperationsListBlock.Selected {
    background-color: #4d5788;
}

    .OperationsListBlock:hover {
        background-color: #f2f2f2;
    }

.OperationsListTitleBlock h2 {
    font-size: 12pt;
    margin: 4px 4px 1px 1px;
}

.DetailsPanel {
    display: block;
    position: fixed;
    right: 0px;
    top: 80px;
    width: 400px;
}

.OperationTitleBlock {
}

    .OperationTitleBlock h2 {
        font-size: 14pt;
    }

        .OperationTitleBlock h2 span {
            margin: 2px;
        }

.SpanBlock {
}

.TimelineBlock {
    width: stretch;
}

.TimelineMiddle {
    display: block;
    border: 1px solid #999999;
    border-radius: 2px;
    overflow: hidden;
    margin: 2px 0px;
    position: relative;
}


.TimelineOffsetText {
    display: inline-block;
    font-size: smaller;
    padding: 1px 4px;
}

.TimelineTitle {
    display: block;
    position: absolute;
    /* Calculates 50% of the element's width, and moves it by that */
    /* amount across the X-axis to the left */
    left: 50px;
    top: 1px;
    right: 50px;
    overflow: hidden;
    text-align: center;
}

.TimelineDurationText {
    display: block;
    font-size: smaller;
    position: absolute;
    top: 1px;
    right: 4px;
}

.TimelineEvent {
    display: block;
    position: absolute;
    margin-left: -8px;
    width: 10px;
    height: 10px;
    font-family: 'Segoe UI Symbol';
    font-size: 12px;
    top: 12px;
}

.TimelineRightOffset {
    display: inline-block;
}

.DetailsTitle {
    font-size: 14pt;
    padding: 4px 4px;
}

.SpanTitle {
}


    .SpanTitle h2 {
        font-size: 14pt;
    }

    .SpanTitle .Property {
        font-size: 12pt;
    }

    .SpanTitle .Value {
        font-size: 12pt;
        font-family: 'Cascadia Mono', 'Lucida Console', 'Consolas', Courier, monospace;
    }
